body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.main-header,
.send-message-header {
  color: #00a0e0;
}
.message-text {
  background-color: #00b7ff58;
  padding: 1em;
  border-radius: 0.4em;
  margin-top: 0;
  margin-bottom: 2em;
}

.message-timestamp {
  font-size: small;
  color: rgb(149, 149, 149);
  margin-left: 1em;
}
.user-heading-text {
  display: flex;
}
